<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="my.domain.settlement.SettlementRentalOffsetMapper">

    <resultMap id="offsetResultMap" type="my.domain.settlement.vo.SettlementRentalOffsetVO">
        <id property="id" column="ID"/>
        <result property="settlementId" column="SETTLEMENT_ID"/>
        <result property="rentalSettlementId" column="RENTAL_SETTLEMENT_ID"/>
        <result property="offsetAmount" column="OFFSET_AMOUNT"/>
        <result property="createdAt" column="CREATED_AT"/>
    </resultMap>

    <insert id="insert" parameterType="my.domain.settlement.vo.SettlementRentalOffsetVO">
        <selectKey keyProperty="id" resultType="long" order="AFTER">
            SELECT "ISEQ$$_78788".CURRVAL FROM DUAL
        </selectKey>
        INSERT INTO SETTLEMENT_RENTAL_OFFSET (SETTLEMENT_ID, RENTAL_SETTLEMENT_ID, OFFSET_AMOUNT)
        VALUES (#{settlementId}, #{rentalSettlementId}, #{offsetAmount})
    </insert>

    <select id="selectBySettlementId" parameterType="long" resultMap="offsetResultMap">
        SELECT * FROM SETTLEMENT_RENTAL_OFFSET WHERE SETTLEMENT_ID = #{settlementId}
    </select>

    <select id="selectByRentalSettlementId" parameterType="long" resultMap="offsetResultMap">
        SELECT * FROM SETTLEMENT_RENTAL_OFFSET WHERE RENTAL_SETTLEMENT_ID = #{rentalSettlementId}
    </select>

</mapper>
