<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="my.domain.settlement.SettlementMapper">

    <resultMap id="settlementResultMap" type="my.domain.settlement.vo.SettlementVO">
        <id property="id" column="ID"/>
        <result property="bookOwnerId" column="BOOK_OWNER_ID"/>
        <result property="settledAt" column="SETTLED_AT"/>
        <result property="totalAmount" column="TOTAL_AMOUNT"/>
        <result property="ownerAmount" column="OWNER_AMOUNT"/>
        <result property="storeAmount" column="STORE_AMOUNT"/>
        <result property="payoutKey" column="PAYOUT_KEY"/>
        <result property="transferStatus" column="TRANSFER_STATUS"/>
    </resultMap>

    <select id="selectById" parameterType="long" resultMap="settlementResultMap">
        SELECT *
        FROM BOOK_OWNER_SETTLEMENT
        WHERE ID = #{id}
    </select>

    <select id="selectAllByBookOwnerId" parameterType="long" resultMap="settlementResultMap">
        SELECT *
        FROM BOOK_OWNER_SETTLEMENT
        WHERE BOOK_OWNER_ID = #{id}
    </select>

    <select id="selectSettledByBookOwnerId" parameterType="long" resultMap="settlementResultMap">
        SELECT *
        FROM BOOK_OWNER_SETTLEMENT
        WHERE BOOK_OWNER_ID = #{id} AND SETTLED_AT IS NOT NULL
    </select>

    <insert id="insert" parameterType="my.domain.settlement.vo.SettlementVO">
        <selectKey keyProperty="id" resultType="long" order="AFTER">
            SELECT "ISEQ$$_78238".CURRVAL FROM DUAL
        </selectKey>
        INSERT INTO BOOK_OWNER_SETTLEMENT (BOOK_OWNER_ID, SETTLED_AT, TOTAL_AMOUNT, OWNER_AMOUNT, STORE_AMOUNT, PAYOUT_KEY, TRANSFER_STATUS)
        VALUES (#{bookOwnerId}, SYSTIMESTAMP, #{totalAmount}, #{ownerAmount}, #{storeAmount}, #{payoutKey, jdbcType=VARCHAR}, #{transferStatus})
    </insert>

</mapper>
