<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="my.domain.bookcase.BookCaseMapper">

    <resultMap id="bookCaseResultMap" type="my.domain.bookcase.BookCaseVO">
        <id property="id" column="ID"/>
        <result property="groupCodeId" column="GROUP_CODE_ID"/>
        <result property="commonCodeId" column="COMMON_CODE_ID"/>
        <result property="bookCaseTypeId" column="BOOK_CASE_TYPE_ID"/>
    </resultMap>

    <insert id="insert" parameterType="my.domain.bookcase.BookCaseVO">
        <selectKey keyProperty="id" resultType="long" order="AFTER">
            SELECT "ISEQ$$_78225".CURRVAL FROM DUAL
        </selectKey>
        INSERT INTO BOOK_CASE (GROUP_CODE_ID, COMMON_CODE_ID, BOOK_CASE_TYPE_ID)
        VALUES (#{groupCodeId}, #{commonCodeId}, #{bookCaseTypeId})
    </insert>

    <select id="selectById" parameterType="long" resultMap="bookCaseResultMap">
        SELECT * FROM BOOK_CASE WHERE ID = #{id}
    </select>

    <select id="selectAll" resultMap="bookCaseResultMap">
        SELECT * FROM BOOK_CASE ORDER BY ID
    </select>

    <select id="selectUsableBookCases" resultMap="bookCaseResultMap">
        SELECT bc.*
        FROM BOOK_CASE bc
        WHERE NOT EXISTS (
            SELECT 1 FROM BOOK_CASE_OCCUPIED_RECORD bcor
            WHERE bcor.BOOK_CASE_ID = bc.ID
            AND bcor.UN_OCCUPIED_AT IS NULL
        )
    </select>

    <select id="selectMyOccupyingBookCasesByBookOwnerId" resultType="long">
        SELECT BC.ID
        FROM BOOK_CASE BC
        JOIN BOOK_CASE_OCCUPIED_RECORD OC ON BC.ID = OC.BOOK_CASE_ID
        WHERE OC.BOOK_OWNER_ID = #{bookOwnerId}
        AND OC.UN_OCCUPIED_AT IS NULL
    </select>

    <select id="selectAllWithOccupation" resultType="my.domain.bookcase.BookCaseWithOccupationVO">
        SELECT BC.ID,
               BC.GROUP_CODE_ID,
               BC.COMMON_CODE_ID,
               CC.CODE_NAME AS LOCATION_NAME,
               BC.BOOK_CASE_TYPE_ID,
               BCT.CODE AS BOOK_CASE_TYPE_CODE,
               BCT.MONTHLY_PRICE,
               CASE WHEN BCOR.ID IS NOT NULL THEN 1 ELSE 0 END AS OCCUPIED,
               BCOR.BOOK_OWNER_ID
        FROM BOOK_CASE BC
        JOIN COMMON_CODE CC ON CC.GROUP_CODE = BC.GROUP_CODE_ID AND CC.CODE = BC.COMMON_CODE_ID
        JOIN BOOK_CASE_TYPE BCT ON BCT.ID = BC.BOOK_CASE_TYPE_ID
        LEFT JOIN BOOK_CASE_OCCUPIED_RECORD BCOR ON BCOR.BOOK_CASE_ID = BC.ID AND BCOR.UN_OCCUPIED_AT IS NULL
        ORDER BY BC.ID
    </select>

</mapper>
