<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="my.domain.deposit.DepositRentalOffsetMapper">

    <insert id="insert" parameterType="my.domain.deposit.DepositRentalOffsetVO">
        <selectKey keyProperty="id" resultType="long" order="AFTER">
            SELECT "ISEQ$$_78803".CURRVAL FROM DUAL
        </selectKey>
        INSERT INTO DEPOSIT_RENTAL_OFFSET (DEPOSIT_ID, RENTAL_SETTLEMENT_ID, OFFSET_AMOUNT)
        VALUES (#{depositId}, #{rentalSettlementId}, #{offsetAmount})
    </insert>

    <select id="selectByDepositId" parameterType="long" resultType="my.domain.deposit.DepositRentalOffsetVO">
        SELECT ID, DEPOSIT_ID, RENTAL_SETTLEMENT_ID, OFFSET_AMOUNT, CREATED_AT
        FROM DEPOSIT_RENTAL_OFFSET
        WHERE DEPOSIT_ID = #{depositId}
        ORDER BY ID ASC
    </select>

</mapper>
