<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="my.domain.bookowner.BookOwnerMapper">



    <sql id="bookOwnerJoin">
        FROM USERS u
        JOIN BOOK_OWNER b ON u.ID = b.ID
        LEFT JOIN BANK_ACCOUNT ba ON b.ID = ba.BOOK_OWNER_ID
        WHERE u.DELETED_AT IS NULL
    </sql>

    <sql id="bookOwnerColumn">
        u.ID, u.NAME, u.EMAIL, u.PHONE, u.ROLE,
        ba.BANK_NAME, ba.ACCOUNT_NUMBER
    </sql>

    <resultMap id="bookOwnerResultMap" type="my.domain.bookowner.vo.BookOwnerVO">
        <!-- UserVO 상속 필드 -->
        <id property="id" column="ID"/>
        <result property="role" column="ROLE"/>
        <result property="name" column="NAME"/>
        <result property="phone" column="PHONE"/>
        <result property="email" column="EMAIL"/>
        <result property="residentNumber" column="RESIDENT_NUMBER"/>
        <result property="password" column="PASSWORD"/>

        <!-- BankAccountVO (association) -->
        <association property="bankAccountVO" javaType="my.domain.bankaccount.vo.BankAccountVO">
            <result property="bankName" column="BANK_NAME"/>
            <result property="accountNumber" column="ACCOUNT_NUMBER"/>
        </association>
    </resultMap>

    <sql id="selectAllQuery">
        SELECT <include refid="bookOwnerColumn"></include>
        <include refid="bookOwnerJoin"></include>
    </sql>

    <select id="selectAll" resultMap="bookOwnerResultMap">
        <include refid="selectAllQuery">
        </include>
    </select>

    <select id="selectOne" parameterType="long" resultMap="bookOwnerResultMap">
        <include refid="selectAllQuery"></include>
        AND u.ID=#{id}
    </select>

    <select id="selectById" parameterType="long" resultMap="bookOwnerResultMap">
        SELECT u.ID, u.ROLE, u.NAME, u.PHONE, u.EMAIL, u.RESIDENT_NUMBER, u.PASSWORD,
               ba.BANK_NAME, ba.ACCOUNT_NUMBER
        FROM USERS u
        JOIN BOOK_OWNER b ON u.ID = b.ID
        LEFT JOIN BANK_ACCOUNT ba ON b.ID = ba.BOOK_OWNER_ID
        WHERE u.ID = #{id} AND u.DELETED_AT IS NULL
    </select>

    <insert id="insert" parameterType="my.domain.bookowner.vo.BookOwnerVO">
        INSERT INTO BOOK_OWNER (ID)
        VALUES (#{id})
    </insert>



</mapper>
