<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="my.domain.user.UserMapper">

    <resultMap id="userResultMap" type="my.domain.user.UserVO">
        <id property="id" column="ID"/>
        <result property="role" column="ROLE"/>
        <result property="name" column="NAME"/>
        <result property="phone" column="PHONE"/>
        <result property="email" column="EMAIL"/>
        <result property="residentNumber" column="RESIDENT_NUMBER"/>
        <result property="password" column="PASSWORD"/>
    </resultMap>

    <select id = "selectAll" resultType="UserVO">
        SELECT * FROM USERS
        WHERE DELETED_AT IS NULL
    </select>

    <select id="selectById" parameterType="long" resultMap="userResultMap">
        SELECT * FROM USERS
        WHERE ID = #{id} AND DELETED_AT IS NULL
    </select>

    <select id = "selectByEmail" parameterType="String" resultMap="userResultMap">
        SELECT * FROM USERS
        WHERE EMAIL = #{email} AND DELETED_AT IS NULL
    </select>

    <insert id="insert" parameterType="my.domain.user.UserVO">
        <selectKey keyProperty="id" resultType="long" order="AFTER">
            SELECT "ISEQ$$_78221".CURRVAL FROM DUAL
        </selectKey>
        INSERT INTO USERS (ROLE, NAME, PHONE, EMAIL, RESIDENT_NUMBER, PASSWORD)
        VALUES (#{role, jdbcType=VARCHAR}, #{name}, #{phone}, #{email}, #{residentNumber}, #{password})
    </insert>


    <update id="updateOne">
        UPDATE USERS
        <set>
            <if test="name != null">NAME = #{name},</if>
            <if test="phone != null">PHONE = #{phone},</if>
            <if test="email != null">EMAIL = #{email},</if>
            <if test="password != null">PASSWORD = #{password},</if>
        </set>
        WHERE ID = #{id} AND DELETED_AT IS NULL
    </update>

    <update id = "updateRole" parameterType="UserUpdateDto">
        UPDATE USERS
        <set>
            <if test="role != null">ROLE = #{role}</if>
        </set>
        WHERE ID = #{id} AND DELETED_AT IS NULL
    </update>

    <update id="softDeleteOne" parameterType="long">
        UPDATE USERS
        SET DELETED_AT = CURRENT_TIMESTAMP
        WHERE ID = #{id} AND DELETED_AT IS NULL
    </update>

    <select id="selectBookOwnerByNameAndPhone" resultMap="userResultMap">
        SELECT *
        FROM USERS
        WHERE NAME=#{name} AND PHONE=#{phone} AND ROLE='BOOK_OWNER' AND DELETED_AT IS NULL
    </select>

    <select id="selectUsersByPhoneNumberLastFour" parameterType="String" resultMap="userResultMap">
        SELECT *
        FROM USERS
        WHERE SUBSTR(PHONE, -4) = #{lastFour} AND DELETED_AT IS NULL
    </select>

</mapper>
