<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="my.domain.book.BookMapper">

    <resultMap id="bookResultMap" type="my.domain.book.BookVO">
        <id property="id" column="ID"/>
        <result property="bookOwnerId" column="BOOK_OWNER_ID"/>
        <result property="bookCaseId" column="BOOK_CASE_ID"/>
        <result property="bookName" column="BOOK_NAME"/>
        <result property="publisherHouse" column="PUBLISHER_HOUSE"/>
        <result property="price" column="PRICE"/>
        <result property="enteredAt" column="ENTERED_AT"/>
        <result property="groupCodeId" column="GROUP_CODE_ID"/>
        <result property="commonCodeId" column="COMMON_CODE_ID"/>
        <result property="state" column="STATE"/>
        <result property="deletedAt" column="DELETED_AT"/>
    </resultMap>

    <sql id="whereInStock">
        WHERE STATE = 'NORMAL'
    </sql>

    <select id="selectAll" resultMap="bookResultMap">
        SELECT *
        FROM BOOK
        <include refid="whereInStock"/>
    </select>



    <insert id="insertBook" parameterType="my.domain.book.BookVO">
        <selectKey keyProperty="id" resultType="long" order="AFTER">
            SELECT "ISEQ$$_78230".CURRVAL FROM DUAL
        </selectKey>
        INSERT INTO BOOK (BOOK_OWNER_ID, BOOK_CASE_ID, BOOK_NAME, PUBLISHER_HOUSE, PRICE, ENTERED_AT, COMMON_CODE_ID, STATE)
        VALUES (#{bookOwnerId}, #{bookCaseId}, #{bookName}, #{publisherHouse}, #{price}, SYSDATE, #{commonCodeId}, #{state})
    </insert>

    <select id="selectById" parameterType="long" resultMap="bookResultMap">
        SELECT * FROM BOOK WHERE ID = #{id}
    </select>

    <select id="selectBooksByBookOwnerId" parameterType="long" resultMap="bookResultMap">
        SELECT *
        FROM BOOK
        WHERE BOOK_OWNER_ID=#{id}
    </select>
    
    <select id="selectSoldBookByBookOwnerId" parameterType="long" resultMap="bookResultMap">
        SELECT *
        FROM BOOK
        WHERE BOOK_OWNER_ID=#{id} AND STATE='SOLD'
    </select>

    <update id="updateStateSold" parameterType="long">
        UPDATE BOOK SET STATE = 'SOLD' WHERE ID = #{id} AND STATE = 'NORMAL'
    </update>

    <select id="selectByBookCaseIds" parameterType="List" resultType="List">
        SELECT B.ID
        FROM BOOK B
        WHERE B.BOOK_CASE_ID IN
        <foreach collection="bookCaseIds" item="bookCaseId" open="(" separator="," close=")">
            #{bookCaseId}
        </foreach>
        AND B.STATE = 'NORMAL'
    </select>

    <update id="updateStateNormalToRetrieve" parameterType="List">
        UPDATE BOOK SET STATE = 'SHOULD_BE_RETRIEVED'
        WHERE ID IN
        <foreach collection="bookIds" item="bookId" open="(" separator="," close=")">
            #{bookId}
        </foreach>
        AND STATE = 'NORMAL'
    </update>

    <update id="softDeleteBooks">
        UPDATE BOOK SET DELETED_AT = SYSTIMESTAMP
        WHERE ID IN
        <foreach collection="bookIds" item="bookId" open="(" separator="," close=")">
            #{bookId}
        </foreach>
        AND STATE = 'SHOULD_BE_RETRIEVED'
        AND DELETED_AT IS NULL
    </update>

    <select id="countByIdsAndState" resultType="int">
        SELECT COUNT(*) FROM BOOK
        WHERE ID IN
        <foreach collection="bookIds" item="bookId" open="(" separator="," close=")">
            #{bookId}
        </foreach>
        AND STATE = #{state}
    </select>

</mapper>
