<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="my.domain.book.BookMapper">

    <resultMap id="bookResultMap" type="my.domain.book.BookVO">
        <id property="id" column="ID"/>
        <result property="bookOwnerId" column="BOOK_OWNER_ID"/>
        <result property="bookName" column="BOOK_NAME"/>
        <result property="publisherHouse" column="PUBLISHER_HOUSE"/>
        <result property="price" column="PRICE"/>
        <result property="enteredAt" column="ENTERED_AT"/>
        <result property="isSaled" column="IS_SALED"/>
        <result property="typeCode" column="BOOK_TYPE"/>
        <result property="state" column="STATE"/>
    </resultMap>

    <sql id="whereInStock">
        WHERE STATE = 'NORMAL'
    </sql>

    <select id="selectAll" resultMap="bookResultMap">
        SELECT *
        FROM BOOK
        <include refid="whereInStock"/>
    </select>

</mapper>
